.graph-canvas {
  position: relative;
  width: 100%;
  height: 100vh;
}

.node-enter {
  opacity: 0;
  transform: scale(0.5);
}

.node-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.node-exit {
  opacity: 1;
  transform: scale(1);
}

.node-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 500ms, transform 500ms;
}

.graph-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 32px 0 32px;
}

.graph-main-content {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.graph-container {
  background: rgb(196, 170, 225);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.graph-canvas {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 32px;
  background: rgba(255, 255, 255, 0.1);
}

.graph-info {
  width: 350px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--violet);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: auto;
  height: 100%;
  max-height: 790px;
  padding: 16px;
}

table, th, td {
  border: 1px solid white !important;
  border-collapse: collapse !important;
  padding: 6px !important;
}

/*table {*/
/*  table-layout: fixed;*/
/*  width: 100%;*/
/*}*/