.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(38, 14, 63);
  min-height: 100vh;
}

.toolbar {
  margin: 10px;
}

:root {
  --violet: #7954a1;
  --violet-hover: #9a7abd;
}

button {
  background-color: var(--violet) !important;
  color: white !important;
  text-align: initial !important;
}

button.danger-button {
  background-color: #ff0000 !important;
}

button:hover {
  background-color: var(--violet-hover) !important;
}
